@import "tailwindcss";

@plugin "daisyui" {
	themes: light --default;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
	@apply text-4xl;
	@apply font-bold;
}

h2 {
	@apply text-2xl;
}

h3 {
	@apply text-xl;
}
